$background: teal;
$jumbotronBackground: darkseagreen;

:global(.jumbotron).result-background {
  background-color: $jumbotronBackground;
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.title {
  text-align: center;
  margin: auto;

  &:hover {
    color: DarkCyan;
  }
}
